extends layout.pug
block background
  |body{background-image: radial-gradient(circle, #a80828, #861627, #651b24, #451b1f, #251819);}
block title
  a(href="/") KUNG FU KENNY
block content
  ul
    li="He from Compton"
    li="5 FOOT GIANT"
    li="ain't freeeeeeeeeee"
    
