html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='/css/main.css')
    style
      block background
    title list
  body
    div#completeContainer
      h1#title
        block title
      div#text-container
        block content
    
          
    
