extends layout.pug
block background
  |body{background-image: radial-gradient(circle, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);}
block title
  a(href="/") K  I  N  G    P  U  S  H
block content
  ul
    li="D R A K E? more like F A K E"
    li="Y E U G H"
    li="El P R E S I D E N T E"
